body {
  background-size: 100% 100%;
  background-color: #9a162d;
  box-shadow: inset 0 0 10rem rgba(0, 0, 0, 10);
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.05rem;
}

.alert {
  height: 30px;
  line-height: 30px;
  margin-bottom: 1px;
  padding: 0px 10px;
}
