#buttom_column {
  /* border: 1px solid #00ff00; */
  align-items: center;
  display: flex;
  height: 16vh;
  justify-content: center;
}

p {
  color: #f6f66b;
  text-shadow: 0 .1rem .4rem rgba(0, 0, 0, 240);

}

.track {
  position: absolute;
  /* filter: blur(0.1px); */
  /* border: 1px solid green; */
  /* bottom: 0; */
}

.albumart {
  /* position: fixed;  */
  /* border: 1px solid blue; */
  /* position: absolute; */
  /* top: 0; */

}

#songcolumn {
  /* border: 1px solid red; */
  height: 38vh;
  /* position: relative; */
}

.mb-n1 {
  margin-bottom: -0.25rem !important;
}

.container-fluid {
  /* border: #f6f679 1px solid; */
  background-color: white;
  min-height: 400px;
  width: 100%;
}

.col-sm-6 {
  overflow: hidden;
  /* height: 45vh */
}

@media (min-width:576px) {

  /* CSS for desktop */
  .col-sm-6 {
    overflow: auto;
    height: 90vh;
  }

  #songcolumn {
    /* border: 1px solid purple; */
    height: 85vh;
  }

  #buttom_column {
    /* border: 1px solid #cccc; */
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: center;
  }

}

img {
  height: 70%;
  max-width: 100%;
  object-fit: cover;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0);
}