<body [style.font-family]="fontFamily"
      [ngClass]="{'font-sans': fontType === 'sans', 'font-serif': fontType === 'serif'}">
<nav class="navbar">
  <div class="navbar-left">
    <a href="#"></a>
  </div>
  <div class="navbar-right">
    <a href="#">Rankbot.me</a>
  </div>
  <div class="navbar-right">
    <a href="ranking">Ranking list</a>
  </div>
</nav>
<div id="vineta" [style.background-color]="backgroundColor" [style.background-image]="backgroundImage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="img-container">
          <img src="assets/images/placeholder.png" alt="Imagen 1" id="image-a">
          <div class="caption">
            <h3 id="title-a"></h3>
            <p id="album-a"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="img-container">
          <img src="assets/images/placeholder.png" alt="Imagen 2" id="image-b">
          <div class="caption">
            <h3 id="title-b" class="animate__animated animate__zoomIn"></h3>
            <p id="album-b"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="btn btn-dark" id="draw-button">Draw</button>
      <button class="btn btn-dark" id="next-button">I don't know</button>
    </div>
  </div>
</div>
</body>
